body{
    font-family: 'Helvetica Neue', sans-serif;
    background: #DEE1E5;
    background-image: url(/assets/bg.jpg);
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed !important;*/

}

h1{
    background: #009688;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    margin: 5px;
}
table{
    box-shadow: 0px 5px 9px #b3b3b3;
    width: 100%;
}
table, th, td {
    border: 1px solid #c7c7c7;
    color: #5a5a5a;
    border-collapse: collapse;
    padding: 5px;
}
.container{
    max-width: 1265px;
    margin: auto;
    background: #fff;
    padding: 10px 15px;
    min-height: 2100px;
}
#reset, #download{
    padding: 10px 5px;
    background: #ff5a4d;
    color: #fff;
    border-radius: 5px;
    margin-left: 5px;
    text-decoration: none;
    float: right;
    transition: all .2s;
}
#reset:hover, #reset:active, #reset:focus{
    background: #A83F38;
}
#download{
    background: #dddbd8;
    color: #555;
}
#download:hover, #download:active, #download:focus{
    background: #bcb9b8;
}
.map-wrap{
    position: relative;
}
#canvas{
    background: rgba(0, 150, 136, 0.08);
    border-radius: 5px;
    position: relative;
    z-index: 0;
    padding-left: 15px;
}
#canvas2, #canvas3{
    background: transparent;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 15px;
}
#canvas3{
    z-index: 2;
}
.right{
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    background: #607D8B;
    color: #fff;

    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: .5;
    z-index: 4;
    max-height: 700px;
}
.right p{
    padding: 0 15px;
}
#citiesList{
    height: 0;
    max-height: 600px;
    padding: 0 15px;
    overflow: auto;
}
.right:hover{
    opacity: 1;
}
.right:hover #citiesList{
    height: 100%;
}
#citiesList ul{
    list-style-type: none;
    padding-left: 0;
}
.controls{
    display: inline-block;
    background: #ececec;
    padding: 10px;
    border-radius: 5px;
}
.drawRoute{
    text-decoration: none;
    color: #2196F3;
}